body {
  margin: 0;
  font-family: "Exo 2", "Open Sans", sans-serif;
  font-size: 14px;
  color: #fff;
  font-weight: 400;
  background: #002247;
  position: relative;
  line-height: 1.5;
  text-align: left;
}

nav {
  color: inherit;
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: #0f112d;
  padding: 0.5rem 1rem;
}

.nav-item {
  color: #ffffff;
  border-radius: 0.25rem;
  margin: 10px;
  display: block;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  padding: 10px 24px;
  box-sizing: border-box;
  text-align: left;
}

button {
  color: inherit;
  position: relative;
  display: block;
  padding: 10px 20px;
  border-radius: 0.25rem;
  border-color: #04a9f5;
  font-size: 14px;
  margin-bottom: 5px;
  margin-right: 10px;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  background-color: transparent;
}

.binbox {
  text-align: left;
  box-sizing: border-box;
  border-radius: 0.25rem!important;
  -webkit-box-shadow: 0 1px 20px 0 rgb(69 90 100 / 8%);
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  border: none;
  margin-bottom: 30px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background: #003975;
  padding: 3rem!important;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  line-height: 1.5;
}

.row {
  display: flex;
  margin-right: -15px;
}

.request-list-item {
  color:white;
  align-items: center;
  flex-direction: row;
  padding: 0.5rem 1rem;
}

.timestamp {
  color: inherit;
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 0.5rem 1rem;
}

.bin-identifier {
  color: #ffffff;
  border-radius: 0.25rem;
  margin: 10px;
  display: block;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  padding: 10px 24px;
  box-sizing: border-box;
  text-align: left;
}
